.header {

    grid-area: h;
    background-color: #343434;
    height: 55px;
    margin-bottom: 15px;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    margin-left: 50px;
}

.loginBlock {
    margin-right: 50px;
    color: white;

}

.userPhoto{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}