.profile_user {
    display: flex;

}

.photo_user img {
    width: 180px;
    height: 180px;
    /*border-radius: 100px;*/
}

.user_info{
 margin: 15px 0 0 50px;
}

.name{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.status{
    font-size: 16px;
}