.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogs_items {

    padding: 10px;
    text-align: center

}

.dialog {
    display: block;
    margin: 10px;
    padding: 10px;
    font-weight: 600;
}

.messages {
    padding: 10px;
}

.message {

}

.active {
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px 1px;
}